body {
  padding: 0;
  margin: 0;
}

/*navbar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(12, 12, 11);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-right: 2vw;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(84, 83, 83);
}

.active {
  background-color: #04AA6D;
}

.imgnav {
  max-width: 100%;
  padding: 0.5vw;
}

@media screen and (min-width: 651px) and (max-width:969px) {
  .imgnav {
    max-width: 90%;
    padding: 0.5vw;
  }
}

@media screen and (max-width:650px) {
  .imgnav {
    max-width: 60%;
    padding: 0vw;
  }
}
